function Main.main 3
push constant 1
push constant 2
call Point.new 2
pop local 0
push constant 3
push constant 4
call Point.new 2
pop local 1
push local 0
push local 1
call Point.plus 2
pop local 2
push local 2
call Point.print 1
pop temp 0
push local 0
push local 1
call Point.distance 2
call Output.printInt 1
pop temp 0
call Point.getPointcount 0
call Output.printInt 1
pop temp 0
push local 0
call Point.dispose 1
pop temp 0
push constant 0
return
