function Point.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push static 0
push constant 1
add
pop static 0
push pointer 0
return
function Point.getx 0
push argument 0
pop pointer 0
push this 0
return
function Point.gety 0
push argument 0
pop pointer 0
push this 1
return
function Point.getPointcount 0
push static 0
return
function Point.plus 0
push argument 0
pop pointer 0
push this 0
push argument 1
call Point.getx 1
add
push this 1
push argument 1
call Point.gety 1
add
call Point.new 2
return
function Point.distance 2
push argument 0
pop pointer 0
push this 0
push argument 1
call Point.getx 1
sub
pop local 0
push this 1
push argument 1
call Point.gety 1
sub
pop local 1
push local 0
push local 0
call Math.multiply 2
push local 1
push local 1
call Math.multiply 2
add
call Math.sqrt 1
return
function Point.print 0
push argument 0
pop pointer 0
push constant 1
call String.new 1
push constant 40
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 0
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 44
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 1
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function Point.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
