function Main.main 0
push constant 254
push constant 126
call Screen.drawPixel 2
pop temp 0
push constant 255
push constant 127
call Screen.drawPixel 2
pop temp 0
push constant 256
push constant 128
call Screen.drawPixel 2
pop temp 0
push constant 0
return
